<% provide(:title, "Article") %>

<div class="container">
    <div class="jumbotron">
        <h3 class="test-info" align="center"><%= @article.title %></h3>
        <h5 class="test-info">Published: <%= @article.created_at %> by <%= @user.name %></h5>
        <%= @article.content %><br>
          <h5 align="right">
              <%= link_to new_comment_path(article_id: @article.id, user_id: @user.id) do %>
    			      <i class="glyphicon glyphicon-comment"></i> 
    		      <% end %>
              
              <%= link_to edit_article_path(@article) do %>
    			      <i class="glyphicon glyphicon-edit"></i> 
    		      <% end %>
              
              <%= link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } do %>
    			      <i class="glyphicon glyphicon-remove"></i> 
    		      <% end %>
          </h5>
    </div>
</div>
<div class="container">
  <h3 class="test-info" align="center">Comment section</h3>
  <% if @comments.exists? == false %>
    <h4 align="center" class="test-info">There is no comments for this article yet...</h4>
  <% else %>
    <% @comments.each do |comment| %>
      <div class="jumbotron">
        <%= comment.content %>
        <h6 class="test-info" align="right">Published: <%= comment.created_at %> by <%= User.find(comment.user_id).name %></h6>
        <h5 align="right">
          <%= link_to edit_comment_path(comment) do %>
            <i class="glyphicon glyphicon-edit"></i> 
          <% end %>
    
          <%= link_to comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="glyphicon glyphicon-remove"></i> 
          <% end %>
        </h5>
      </div>
    <% end %>
  <% end %>
</div>
